* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background: url(img/desktop/image-hero.jpg) no-repeat;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.nav-link ul {
    display: flex;
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    padding-bottom: 10px;
}

.nav-link li a:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* text header */
.text-head {
    margin: 100px 100px;
    width: 680px;
    height: 500px;

}

.text-head h1 {
    font-size: 60px;
    margin-bottom: 20px;
    border: 3px solid white;
    padding: 50px 80px;
    color: white;
}

/* toggle button */
.toggle-button {
    position: absolute;
    top: 2.5em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* header end */

/* content */
/* hero */
.hero {
    display: flex;
    margin: 0 150px;
}



.text-hero {
    width: 500px;
    height: 400px;
    background-color: white;
    position: absolute;
    z-index: 999;
    margin: 200px 560px;
    padding: 55px 50px;
}

.text-hero p {
    padding-top: 55px;
    line-height: 30px;
}

/* nav-mid */



/* content end */
/* media query */
@media screen and (max-width: 576px) {
    .toggle-button {
        display: flex;
        position: absolute;
        z-index: 999;
    }

    .nav-link {
        display: none;
        background-color: black;
        width: 100%;
        z-index: 1;
        margin: -50px -50px;
        position: absolute;
        padding: 100px 0 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav-link ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-link li {
        margin: 20px 50px;
    }

    .nav-link.active {
        display: flex;
    }

    .brand {
        position: absolute;
        z-index: 99;
    }



    .text-head {
        margin: 100px -30px;
        width: 450px;
        padding: 50px;
    }

    .text-head h1 {
        padding: 30px;
        font-size: 55px;
        width: 450px;

    }

    /* text hero */
    .hero {
        margin: 10px;
    }

    .img-hero {
        margin: 30px 0px;
        width: 100%;
    }

    .text-hero {
        order: 2;
        margin: 360px 50px;
        padding: 20px;
        width: 360px;
    }

    .text-hero h1,
    .text-hero p {
        text-align: center;
    }


}