* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background: url(img/desktop/image-hero.jpg) no-repeat;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.nav-link ul {
    display: flex;
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    padding-bottom: 10px;
}

.nav-link li a:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* text header */
.text-head {
    margin: 100px 100px;
    width: 680px;
    height: 500px;

}

.text-head h1 {
    font-size: 60px;
    margin-bottom: 20px;
    border: 3px solid white;
    padding: 50px 80px;
    color: white;
}

/* toggle button */
.toggle-button {
    position: absolute;
    top: 2.5em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* header end */

/* content */
/* hero */
.hero {
    display: flex;
    margin: 0 150px;
}

.image {
    z-index: -1;
}

.text-hero {
    width: 600px;
    background-color: aliceblue;
    z-index: 999;
}

/* content end */
/* media query */
@media screen and (max-width: 576px) {
    .toggle-button {
        display: flex;
    }

    .nav-link {
        display: none;
        background-color: black;
        width: 500px;
        z-index: 999;
        margin: 10px -50px;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav-link ul {
        flex-direction: column;
        margin-top: 70px;
    }

    .nav-link li {
        margin: 20px 50px;
    }

    .nav-link.active {
        display: flex;
    }

    header {
        height: 1200px;

    }

    .text-head {
        margin: 200px 10px;
        width: 450px;
        z-index: -1;
    }

    h1 {
        padding: 20px;
    }
}