* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* header */
header {
    background: url(img/desktop/image-hero.jpg) no-repeat;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-family: 'Alata', sans-serif;
}

.nav-link ul {
    display: flex;
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    padding-bottom: 10px;

}


.nav-link li a:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* text header */
.text-head {
    margin: 100px 100px;
    width: 680px;
    height: 500px;

}

.text-head h1 {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 20px;
    border: 3px solid white;
    padding: 50px 80px;
    color: white;
}



/* toggle button */
.toggle-button {
    position: absolute;
    top: 2.5em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* header end */

/* content */
/* hero */
.hero {
    display: flex;
    margin: 0 150px;
}



.text-hero {
    width: 550px;
    height: 400px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin: 200px 550px;
    padding: 55px 50px;
}

.text-hero h1 {
    font-family: 'Alata', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: hsl(0, 0%, 41%);
}

.text-hero p {
    padding-top: 55px;
    line-height: 30px;
    font-family: 'Josefin sans', sans-serif;
    color: hsl(0, 0%, 55%);
}

/* nav-mid */
.nav-mid {
    margin: 100px 150px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tag {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 30px;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 41%);
    font-weight: 200;
}

.see {
    grid-area: 1 / 3 / 2 / 5;
    text-align: right;

}

.btn {
    padding: 5px 20px;
    background: none;
    font-family: 'Alata', sans-serif;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* photo */
.gallery {
    margin: 10px 150px 0;
    display: grid;
    grid-template-columns: repeat(4, 254px);
    grid-template-rows: repeat(2, 454px);
    grid-template-areas: 'div1 div2 div3 div4'
        'div5 div6 div7 div8';
    gap: 12px;
}

.font {
    text-align: center;

}

.name {
    margin: 380px 0 0 50px;
    color: white;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    width: 150px;
}

.div1 {

    background: url(img/desktop/image-deep-earth.jpg) no-repeat;

}

.div2 {

    background: url(img/desktop/image-night-arcade.jpg) no-repeat;
}

.div3 {

    background: url(img/desktop/image-soccer-team.jpg) no-repeat;
}

.div4 {

    background: url(img/desktop/image-grid.jpg) no-repeat;
}

.div5 {

    background: url(img/desktop/image-from-above.jpg) no-repeat;

}

.div6 {

    background: url(img/desktop/image-pocket-borealis.jpg) no-repeat;
}

.div7 {

    background: url(img/desktop/image-curiosity.jpg) no-repeat;
}

.div8 {

    background: url(img/desktop/image-fisheye.jpg) no-repeat;
}

/* footer */
footer {
    background-color: hsl(0, 0%, 0%);

    margin-top: 150px;
    display: grid;
    grid-template-areas:
        'loop social'
        'menu copy';
}

.studio {
    color: white;
    margin: 20px 10px 0 150px;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 400;
}

/* media social */
.lis a {
    margin: 10px;
}

.lis a:hover {
    border-bottom: 2px solid white;
}

.daftar {
    display: flex;
    margin: 20px 150px 20px 0;
    justify-content: right;
    list-style: none;
}


/* navigation menu */

.rinci {
    display: flex;
    margin: 10px 0 30px 150px;
    list-style: none;
    font-family: 'Josefin sans', sans-serif;
}


.rinci li a {
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 20px 10px 0;
    color: white;
}

.rinci li a:hover {
    border-bottom: 2px solid white;
}

.lisence {
    color: white;
    text-align: right;
    margin: 10px 150px 30px 0;
    font-family: 'Josefin sans', sans-serif;
}

.btn-bottom {
    display: none;
    padding: 10px 35px;

}

.btn-bottom:hover {
    background-color: black;
    color: white;
    font-family: 'Alata', sans-serif;
}

/* content end */
/* media query */
@media screen and (max-width: 576px) {
    .toggle-button {
        display: flex;
        position: absolute;
        z-index: 999;
    }

    .nav-link {
        display: none;
        background-color: black;
        width: 100%;
        z-index: 1;
        margin: -50px -50px;
        position: absolute;
        padding: 100px 0 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav-link ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-link li {
        margin: 20px 50px;
    }

    .nav-link.active {
        display: flex;
    }

    /* x menu */
    .nav-link.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-link.active .bar:nth-child(1) {
        transform: translateX(8px) rotate(45deg);
    }

    .nav-link.active .bar:nth-child(3) {
        transform: translateX(8px) rotate(-45deg);
    }

    /* x menu */

    .brand {
        position: absolute;
        z-index: 99;
    }



    .text-head {
        margin: 100px -30px;
        width: 450px;
        padding: 50px;
    }

    .text-head h1 {
        padding: 30px;
        font-size: 55px;
        width: 450px;

    }

    /* text hero */
    .hero {
        margin: 10px;
    }

    .img-hero {
        margin: 30px 0px;
        width: 100%;
    }

    .text-hero {

        margin: 360px 50px;
        padding: 20px;
        width: 360px;
    }

    .text-hero h1,
    .text-hero p {
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        margin: 450px 20px;

    }

    .font {
        width: 90%;
    }

    .name {
        margin-top: 130px;
        margin-left: 15px;
        position: absolute;
        width: 150px;
        justify-content: left;

    }

    .div1 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: center;
    }

    .div2 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: center;
    }

    .div3 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: center top;
    }

    .div4 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: center right;
    }

    .div5 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: cover;
    }

    .div6 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: center;
    }

    .div7 {
        width: 80vh;
        height: 200px;
        background-size: cover;
        background-position: top center;
    }

    .div8 {
        width: 80vh;
        height: 200px;
        background-size: 500px;
        background-position: center;
    }

    .nav-mid {
        position: absolute;
        z-index: 5999;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        width: 100%;

    }

    .tag {
        margin: 80px -10px;
    }



    .see {
        display: none;
    }

    /* end */
    .end {
        display: grid;
        grid-template-areas:
            'tag'
            'gallery'
            'see';
    }

    .btn-bottom {
        display: flex;
        position: absolute;
        margin: -400px 150px 0 180px;
        align-items: center;
        z-index: 1000;
    }

    /* footer {
        margin-top: -200px;
        display: grid;
        grid-template-areas:
            'loop'
            'menu'
            'daftar'
            'copy';
    } */
    footer {
        display: flex;
        flex-direction: column;
        margin-top: -200px;
    }

    .loop {
        justify-content: center;
        margin-left: 50px;
        order: -1;
    }

    .menu {
        order: -1;
    }

    .rinci {
        display: flex;
        flex-direction: column;
        margin-right: 100px;

    }

    .rinci li {
        margin: 20px;
        text-align: center;
    }

    .social {
        order: 1;
        margin-left: 15px;
    }

    .copy {
        order: 2;

    }



    /* btn-bottom */




}